@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
*{
    box-sizing: border-box;
    /* border:1px rgb(0, 157, 255) solid; */
}
body, header{
    margin: auto 0;
}
body{
font-family: 'Poppins','Lucida Sans Unicode', Verdana, sans-serif;
background-color: beige;
}
header{
text-align: center;
background-color:#417D7A;
padding: 2rem;
color:white;
align-items: center;
border-bottom: #1D5C63 1.5rem solid;
}
h1{
    font-weight: 100;
    font-size:3rem;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #fff;
}
h2{ 
    font-size:1rem;
    font-weight: 400;
    max-width: 45ch;
    margin:auto;
}
main{
    max-width: 80ch;
    margin: 2rem auto;
    padding-bottom: 2rem;
    background-color: #fff;
    padding:2rem;
    color:#1A3C40;
}
form{
    display:none;
    margin:1rem auto;
    border:1px solid gray; 
    padding:1rem;

}
table {
border-spacing: 0;
width: 100%;
border: 1px solid #ddd;

}

th, td {
text-align: left;
padding: 16px;
}

tr:nth-child(even){
background-color: #f2f2f2
}

@media screen and (max-width: 600px){

h1{
    font-size:7vw;
}
h2{
    font-size:3vw;
}
main{
    max-width: 80%;
}
}
@media screen and (max-width: 520px){

    main{
        max-width: 100%;
        padding:1rem;
    }
}
@media screen and (max-width: 350px){

    main{
       
        padding:0;
    }
}